<div id="content-wrapper"> 
    <div>
        <header id="main-content">
            <div class="navbar">
                <div class="navigation"> 
                    <a href="/">Home</a>
                    <a href="#">About</a>
                    <a href="#">Nutrition Breakdown</a>
                    <a href="/calorie-tracker">Nutrition Tracker</a>
                    <a href="/recipes">Recipes</a>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Menu
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="/">Home</a>
                        <a href="#">About</a>
                        <a href="#">Nutrition Breakdown</a>
                        <a href="/calorie-tracker">Nutrition Tracker</a>
                        <a href="/recipes">Recipes</a>
                    </div>
                </div>
            
            <h2 class="intro"> Search Through Our Nutritonal Analysis Database!</h2>
    
        </header>
    </div>
    <div>
        <h3> How? Enter the exact weight or amount of a food/ingredient: </h3>
        <form id="search-form">
            <input id="search-input" class="searchBar">
            <button id="search-bar" class="searchBar"> 
                Search
            </button>
        </form>
    </div>
    <div id="output" class="card">

    </div>

</div>