<div id="content-wrapper"> 
<div>
    <header id="main-content">
        <h2> Search Through Our Nutritonal Analysis Database!</h2>
        <h3> How? Enter the exact weight or amount of a food/ingredient </h3>
        
    </header>
</div>
<form id="search-form">
    <input id="search-input">
    <button id="search-bar"> Search</button>
</form>
<div id="output">
</div>

    </div>