<div class="login">
    <h1>Login</h1>
    <div class="email">Email</div>
    <input type="text" placeholder="Email.." class="email-bar">
    <div class="password">Password</div>
    <input type="text" placeholder="Password.." class="pass-bar">
    <button type="button" class="button" id="loginSubmit">Login</button>
</div>