<div id="content-wrapper">
                
                    <header>
                        <div class="navigation">
                            <a href="#">Home</a>
                            <a href="#">About</a>
                            <a href="#">Nutrition Breakdown</a>
                            <a href="#">Nutrition Tracker</a>
                            <a href="#">Recipes</a>
                        </div>
                        <div class="navbar">
                            <div class="dropdown">
                                <button class="dropbtn">Menu
                                    <i class="fa fa-caret-down"></i>
                                </button>
                                <div class="dropdown-content">
                                    <a href="#">Home</a>
                                    <a href="#">About</a>
                                    <a href="#">Nutrition Breakdown</a>
                                    <a href="#">Nutrition Tracker</a>
                                    <a href="#">Recipes</a>
                                </div>
                       
                                <h2> Search Through Our Reciepe Database!</h2>
                    </header>
                 
                  
                <form>
                    <label for="input1">What would you like to eat?</label>
                    <input type="text" id="input1" name="input1"><br>

                    <label for="input2">How long would you like it to take?</label>
                    <input type="text" id="input2" name="input2"><br>

                    <label for="input3">Do you have an dietary restrictions?</label>
                    <input type="text" id="input3" name="input3"><br>

                    <label for="input4">Is there a calorie max in mind?</label>
                    <input type="text" id="input4" name="input4"><br>


                    <input type="submit" value="Submit" class="bttn">
                </form>

                <div class="recipe-container" id="output">
                </div>

            </div>
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>