<div id="content-wrapper">
                
        <header>
            <div class="navigation">
                <a href="/">Home</a>
                <a href="#">About</a>
                <a href="/nutrition-analysis">Nutrition Breakdown</a>
                <a href="/calorie-tracker">Nutrition Tracker</a>
                <a href="#">Recipes</a>
            </div>
            <div class="navbar">
                <div class="dropdown">
                    <button class="dropbtn">Menu
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="#">Home</a>
                        <a href="#">About</a>
                        <a href="#">Nutrition Breakdown</a>
                        <a href="#">Nutrition Tracker</a>
                        <a href="#">Recipes</a>
                    </div>
            
                    <h2> Search Through Our Reciepe Database!</h2>
        </header>
        
        
    {{!-- <form class="recipe-form">
        <label for="input0">What would type of cusine would you like to eat?</label>
        <!-- <input type="text" id="input0" name="input0"><br> -->
        <select name="input0" id="input0" multiple>
            <option value="input0" id="input0" name="input0">American</option>
            <option value="input0" id="input0" name="input0">Asian</option>
            <option value="input0" id="input0" name="input0">Central European</option>
            <option value="input0" id="input0" name="input0">Italian</option>
            <option value="input0" id="input0" name="input0">Caribbian</option>
            <option value="input0" id="input0" name="input0">Mediterranean</option>
            <option value="input0" id="input0" name="input0">South american</option>
            <option value="input0" id="input0" name="input0">Middle eastern </option>
            <option value="input0" id="input0" name="input0">World</option>
            </select>
            <br>

        <label for="input1">What would you like to eat?</label>
        <input type="text" id="input1" name="input1"><br>

        <label for="input2">How long would you like it to take?</label>
        <input type="text" id="input2" name="input2"><br>

        <label for="input3">Do you have an dietary restrictions?</label>
        <select name="input3" id="input3" multiple>
        <option value="input3" id="input3" name="input3">Crustcean-Free</option>
            <option value="input3" id="input3" name="input3">Dairy-Free</option>
            <option value="input3" id="input3" name="input3">Egg-Free</option>
            <option value="input3" id="input3" name="input3">Fish-Free</option>
            <option value="input3" id="input3" name="input3">Gluten-Free</option>
            <option value="input3" id="input3" name="input3">Vegetarian</option>
            <option value="input3" id="input3" name="input3">Vegan </option>
            <option value="input3" id="input3" name="input3">Shellfish-Free</option>
            <option value="input3" id="input3" name="input3">Soy-Free</option>
            <option value="input3" id="input3" name="input3">Pescatarian</option>
            <option value="input3" id="input3" name="input3">Peanut-Free</option>
            </select>
        <br>

        <label for="input4">Is there a calorie max in mind?</label>
        <input type="text" id="input4" name="input4"><br>


        <input type="submit" value="Submit" class="bttn">
    </form> --}}

    <div class="w-full max-w-xs flex form-card">
        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 recipe-form">
            <div class="mb-3 xl:w-96">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="input1">
                    What type of cuisine?
                </label>
                <select data-te-select-init id="input1">
                    <option value="American">American</option>
                    <option value="Asian">Asian</option>
                    <option value="Central">Central</option>
                    <option value="Italian">Italian</option>
                    <option value="Carribean">Carribean</option>
                    <option value="Mediterranean">Mediterranean</option>
                    <option value="South American">South American</option>
                    <option value="Middle Eastern">Middle Eastern</option>
                    <option value="World">World</option>
                </select>
            </div>
            <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="input2">
                What would you like to eat?
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="input2" type="text" placeholder="Enter a type of dish...">
            </div>
            <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="input3">
                How long do you want it to take?
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="input3" type="text" placeholder="Enter time in minutes...">
            </div>
            <div class="mb-3 xl:w-96">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="input4">
                    Any dietary restrictions?
                </label>
                <select data-te-select-init id="input4">
                    <option value="">None</option>
                    <option value="Crustacean-Free">Crustacean-Free</option>
                    <option value="Dairy-Free">Dairy-Free</option>
                    <option value="Egg-Free">Egg-Free</option>
                    <option value="Fish-Free">Fish-Free</option>
                    <option value="Gluten-Free">Gluten-Free</option>
                    <option value="Vegetarian">Vegetarian</option>
                    <option value="Vegan">Vegan</option>
                    <option value="Shellfish-Free">Shellfish-Free</option>
                    <option value="Soy-Free">Soy-Free</option>
                    <option value="Pescatarian">Pescatarian</option>
                    <option value="Peanut-Free">Peanut-Free</option>
                </select>
            </div>
            <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="input5">
                Is there a calorie max in mind?
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="input5" type="text" placeholder="Min: 50 Calories">
            </div>
            <div class="flex items-center justify-between">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    Submit
                </button>
            </div>
        </form>
    </div>

    <div class="recipe-container" id="output">
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>