<div class="sign-up">
    <h1>Sign Up</h1>
    <form class="form signup-form">
      <div class="form-group">
        <input class="form-input" type="text" id="email-signup" placeholder="Email" />
      </div>
      <div class="form-group">
        <input class="form-input" type="password" id="password-signup" placeholder="Password" />
      </div>
      <div class="form-group">
        <input class="form-input" type="password" id="confirm-password-signup" placeholder="Confirm Password" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Sign Up</button>
      </div>
    </form>
    <h3>Already a member?</h3>
    <button type="button" class="member-login" onclick="document.location.replace('/login')">Log In Here</button>
</div>