
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #81afb2;
}

body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    
}  




header .navigation a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
   float: left;
   
  
  }
  .navbar .dropdown .dropbtn{
    display: none;
  }

  .navbar .dropdown-content{
    display: none;
  }



header .navigation a:not(:last-child){
    margin-right: 30px;
 } 

 header .navigation a:hover{
    background: black;
    color: white;
 }

 header h2{
    background: url(../assets/images/pexels-jane-doan-1099680.jpg);
    background-size:cover;
    background-position: center;
    padding: 10%;
    font-size: 1cm;
    text-align: center;
    color: white;
   
}

  
  

  
  


.recipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 50vh;
    width: 100%;
}


form{
   
    font-size: 15px;
    text-align:left;
    margin-left: 1cm;
    line-height: 1cm;
  }
    


#input1, #input2, #input3, #input4{
   border: .75px solid black;
   border-radius: 10px;
   /* line-height: 1.5cm; */
   line-height: 2px;
}

.bttn{
background-color: white;
border: 1px solid;
border-radius: 10px;
 padding-left: 6px; 
 padding-right: 6px;
margin-left: 3.5cm;

/* margin-top: 10px; */
}

.bttn:hover{
    background-color: blue;
    color: white;
}



@media (max-width: 860px){
    header .navigation{
        display: none;
    }
  


.navbar .dropdown .dropbtn{
   display: block;
 }
 .dropdown {
   overflow: hidden;
   background-color: lightslategray;
   float: left;
   font-size: 10px;
   color: white;
   text-align: center;
   padding: 5px 5px;
   border-radius: 15px;
   text-decoration: none;
 }
 

 
 
 .dropdown .dropbtn {
   font-size: 20px;  
   border: none;
   outline: none;
   color: white;
   padding: 16px 20px;
   background-color: inherit;
   font-family: inherit;
   margin: 0;
 }
 
  .navigation:hover, .dropdown:hover .dropbtn {
   background-color: black;
 }
  .dropdown-content {
   display: none;
   position: absolute;
   background-color: white;
   min-width: 50px;
   z-index: 1;
 }
 
 .dropdown-content a {
   float:none;
   color: black;
   padding: 10px 10px;
   text-decoration: none;
   display: block;
   text-align: left;
 }
 
 .dropdown-content a:hover {
   background-color:#81afb2;
 }
 
 .dropdown:hover .dropdown-content {
   display: block;
 }
}
  