body {
    background-color: lightblue;
}

.sign-up {
    background-color: white;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50vh;
    width: 15vw;
    border-radius: 5px;
}

h1 {
    margin-top: 20px;
}

.form-group {
    margin: 20px 0;
}