
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    
}  



header .navigation{
    
  
}
header .navigation a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
   float: left;
   
  
  }



/* header .navigation a:not(:last-child){
    margin-right: 30px;
 } */

 header .navigation a:hover{
    background: black;
    color: white;
 }

 h2{
    background: url(./pexels-jane-doan-1099680.jpg);
    background-size:cover;
    background-position: center;
    padding: 10%;
    font-size: 1cm;
    text-align: center;
    color: white;
   
}

 /* .navbar{
    display: none;
 } */
  

  
  


.recipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 50vh;
    width: 100%;
}


form{
   
    font-size: 15px;
    text-align:left;
    line-height: 1.5cm;
    margin-left: 1cm;
  }
    


#input1, #input2, #input3, #input4{
   border: .75px solid black;
   border-radius: 10px;
   line-height: 2px;
}

.bttn{
background-color: white;
border: 1px solid;
border-radius: 10px;
 padding-left: 6px; 
 padding-right: 6px;
margin-left: 3.5cm;
/* margin-top: 10px; */
}

.bttn:hover{
    background-color: blue;
    color: white;
}

/* @media (max-width: 960px){
    header .navigation{
        display: none;
    }


.navbar{
   display: block;
 }
 .dropdown {
   overflow: hidden;
   background-color: #333;
   float: left;
   font-size: 10px;
   color: white;
   text-align: center;
   padding: 5px 5px;
   border-radius: 15px;
   text-decoration: none;
 }
 

 
 
 .dropdown .dropbtn {
   font-size: 16px;  
   border: none;
   outline: none;
   color: white;
   padding: 14px 16px;
   background-color: inherit;
   font-family: inherit;
   margin: 0;
 }
 
 /* .navigation:hover, .dropdown:hover .dropbtn {
   background-color: red;
 }
  */
 /* .dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 50px;
   /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); *
   z-index: 1;
 }
 
 .dropdown-content a {
   float:none;
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   text-align: left;
 }
 
 .dropdown-content a:hover {
   background-color: #ddd;
 }
 
 .dropdown:hover .dropdown-content {
   display: block;
 }
 
  */
